<link rel="stylesheet" type="text/css" href="{{=URL('static','css/demo.css')}}" />
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/style6.css')}}" />
<script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

<button id="trigger-overlay" type="button">Open Overlay</button>
		<!-- open/close -->
		<div class="overlay overlay-door">
			<button type="button" class="overlay-close">
					<div class="lr">
                    <div class="rl">
                    </div></div>
            </button>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Work</a></li>
					<li><a href="#">Clients</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
		<script src="{{=URL('static','js/classie.js')}}"></script>
		<script src="{{=URL('static','js/demo1.js')}}"></script>