{{extend 'layout_b.html'}}

<style type="text/css">
  .divl{
    position: absolute; top: 0px; left: 0;

  }
  .secondary_banner {
   width: 100%; height: 350px; text-align: center;
   background: rgba(246,246,246,1);
background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(80%, rgba(59,77,93,1)), color-stop(87%, rgba(43,62,80,1)));
background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#2b3e50', GradientType=0 );


   overflow: hidden; 
  }
  hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
</style>

<nav class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right " style="padding-right:90px;">
        <li class="page-scroll" >
            <a id="up" href="#page-top" style="color:#7B8491;">Ir Arriba</a>
        </li>
        
    </ul>
</nav>

<div class="divl secondary_banner">
<div style="top:10%;" class="navbar navbar-success navbar-default">
          <div style="padding-left:8%;" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><br>
            
            
            <a class="navbar-brand" href="{{=URL('default','index',args=['nav'])}}">Antioquía Calvary Chapel</a>
            <a class="hidden-xs hidden-sm hidden-md" style="padding-right:70%;"  href="{{=URL('default','index', args=['nav'])}}"><img src="{{=URL('static/images','dove_.png')}}" alt="..."></a>
          </div>
          <div align="left" style="padding-left:9%;" class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a style="font-size:15px" href="{{=URL('default','index',args=['nav'])}}"><i class="fa fa-home fa-2x"></i></a></li>
              <li><a href="{{=URL('default','QuienesSomos')}}">Quiénes Somos</a></li>
              <li><a href="{{=URL('default','DondeEstamos')}}">Dónde Estamos</a></li>
              <li><a href="{{=URL('default','Creemos')}}">En qué Creemos</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ministerios</a>
                <ul class="dropdown-menu">
                  <li><a href="{{=URL('default','CasaAbierta')}}" style="font-size:15px;">Centro Comunitario Casa Abierta</a></li>
                  <li><a href="{{=URL('default','tiendita')}}" style="font-size:15px;">La Tiendita</a></li>
                  <li><a href="{{=URL('default','EstudiosBiblicos')}}"style="font-size:15px;">Estudios Bíblicos en Casa</a></li>
                  <li><a href="{{=URL('default','web')}}"style="font-size:15px;" >Desarrollo Web</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recursos</a>
                <ul class="dropdown-menu">
                  <li><a href="{{=URL('default','noticias')}}" style="font-size:15px;">Noticias</a></li>
                  <li><a href="{{=URL('default','imagenes')}}" style="font-size:15px;">Imágenes</a></li>
                  <li class="divider"></li>
                  <li><a href="#" style="font-size:15px;" data-toggle="modal" data-target="#ModalIglesias">Iglesias en Sonora</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#ModalBiblias" style="font-size:15px;">Biblias en Linea</a></li>
                  <li class="divider"></li>
                  <li><a href="http://www.calvarychapel.com" target="_blank" style="font-size:15px;">Calvary Chapel</a></li>
                  <li><a href="http://www.ibccmexico.com/tablet/index.html" target="_blank" style="font-size:15px;">Insituto Bíblico Capilla Calvario México</a></li>
                  
                </ul>
              </li>

              <li><a style="color:#FD3D36;font-size:18px" href="{{=URL('default','PazConDios')}}" target="_blank"><strog>Ten Paz Con Dios</strong></a></li>
              <li><a href="#" data-toggle="modal" data-target="#ModalDonar">Donar</a></li>
            </ul>
            
            <ul style="padding-right:9%;" class="nav navbar-nav navbar-right">
              <li><a href="{{=URL('default','index',args=['nav'])}}"><img class="center-block"  src="{{=URL('static/images','es_.png')}}" alt="..."></a></li>
              <li><a href="{{=URL('default','index_en')}}"><img class="center-block"  src="{{=URL('static/images','en_.png')}}" alt="..."></a></li>
            </ul>
          </div>
        </div>
</div>

<div class="container-fluid" id="main">
  <div class="row-fluid">

    <div class="col-md-1 hidden-xs hidden-sm hidden-md" style="background-color:rgba(153,54,51,0.90);">
	    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	    </div>
    <div class="col-md-1 hidden-xs hidden-sm hidden-md">
	    <div class="col-md-6" style="background-color:#54647B;">
	    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	    </div>
    </div>
    
    <div class="col-md-10" name="hola">
    <h1>Estudios Bíblicos en Casa</h1><hr><br>
    	<div class="row-fluid">
    		<div class="well">
			  "Toda la Escritura es inspirada por Dios y útil para enseñar,  para reprender,  para corregir y para instruir en la justicia." 2 Timoteo 3:16
			</div>
    	</div>
	    <div class="row">
		    <div class="col-lg-6">
		    	<p align="justify">Las casas de estudio bíblico, es un lugar atendido por damas y para damas, que te ofrecen la posibilidad de estudiar la Biblia de forma seria y sistemática, apoyando tu interés de conocer de Jesús. 

				En las casas de estudio bíblico, hay mujeres que ya han encontrado a Jesús como su señor y salvador, y que han abierto sus casas para recibirte con gozo y están dispuestas a llevarte a un encuentro con Jesús.

				Estamos convencidos de que una de las mayores necesidades de la humanidad y en especial del pueblo de Dios, tiene que ver con el conocimiento de su Palabra.
				</p>
		    </div>
		    <div class="col-lg-6" align="center">
		    	<img class="img-thumbnail img-responsive" src="{{=URL('static/images','banner_estudios.jpg')}}" height="200px;">
		    </div>
		</div>
		<div class="row">
		    <div class="col-lg-6">
		    	<p align="justify">Las casas de estudio bíblico te ofrece la posibilidad de estudiar la Biblia en un ambiente fraternal, en donde podrás expresar y encontrar la respuesta correcta, a cualquier tipo de inquietud que tengas sobre tu vida espiritual, porque estamos seguros de que el llegar a una casa de estudio bíblico, no es casualidad sino que forma parte del plan de Dios.

				Ten la seguridad de que eres bienvenida a alguna de las casas de estudio bíblico, porque que es para nosotros un placer el recibirte.
				</p><br>
		    </div>
		    <div class="col-lg-6" align="center">
		    <br>
		    	<div class="col-lg-6" >
		    	<address>
                    <strong>Viernes 9:00 AM</strong><br><br>
                    <a href="{{=URL('default','DondeEstamos#casa')}}" style="color:white">
                    Los nogales Nº. 34<br>
                    Col. Las fuentes<br>
                    Hermosillo, Sonora, México<br>
                    </a>
                  </address>
		    	</div>
		    	<div class="col-lg-6">
		    	<address>
                    <strong>Miércoles 5:00 PM</strong><br> <br>
                    <a href="{{=URL('default','DondeEstamos#casa')}}" style="color:white">
                    Villa del Norte Nº 72 <br>
                    Col. Residencial Milán<br>
                    Hermosillo, Sonora, México<br>
                    </a>
                  </address>
		    	</div>
		    </div>
		</div>
	</div>

  </div>
</div>