{{extend 'layout_en.html'}}

<style type="text/css">
  .divl{
    position: absolute; top: 0px; left: 0;

  }
  .secondary_banner {
   width: 100%; height: 350px; text-align: center;
   background: rgba(246,246,246,1);
background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(80%, rgba(59,77,93,1)), color-stop(87%, rgba(43,62,80,1)));
background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#2b3e50', GradientType=0 );


   overflow: hidden; 
  }
  hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
</style>
<nav class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right " style="padding-right:90px;">
        <li class="page-scroll" style="padding-right:50%">
            <a id="up" href="#page-top" style="color:#7B8491;">Top</a>
        </li>
        
    </ul>
</nav>

<div class="divl secondary_banner">
  <div style="top:10%;" class="navbar navbar-success navbar-default">
          <div style="padding-left:8%;" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><br>
            
            
            <a class="navbar-brand" href="{{=URL('default','index_en',args=['nav'])}}">Antioquía Calvary Chapel</a>
            <a class="hidden-xs hidden-sm hidden-md" style="padding-right:70%;"  href="{{=URL('default','index_en', args=['nav'])}}"><img src="{{=URL('static/images','dove_.png')}}" alt="..."></a>
          </div>
          <div align="left" style="padding-left:9%;" class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a style="font-size:15px" href="{{=URL('default','index_en', args=['nav'])}}"><i class="fa fa-home fa-2x"></i></a></li>
              <li><a href="{{=URL('default','AboutUs')}}">About Us</a></li>
              <li><a href="{{=URL('default','Locations')}}">Locations</a></li>
              <li><a href="{{=URL('default','Beliefs')}}">What we believe</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ministries</a>
                <ul class="dropdown-menu">
                  <li><a href="{{=URL('default','CasaAbierta_en')}}" style="font-size:15px;">Casa Abierta Community Center</a></li>
                  <li><a href="{{=URL('default','tiendita_en')}}" style="font-size:15px;">La Tiendita</a></li>
                  <li><a href="{{=URL('default','BibleStudies')}}"style="font-size:15px;">Bible Study Groups @ Home</a></li>
                  <li><a href="{{=URL('default','web_en')}}"style="font-size:15px;" >Web Development</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                <ul class="dropdown-menu">
                  <li><a href="{{=URL('default','photos')}}" style="font-size:15px;">Photos</a></li>
                  <li class="divider"></li>
                  <li><a href="#" style="font-size:15px;" data-toggle="modal" data-target="#ModalIglesias">Churches in Sonora</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#ModalBiblias" style="font-size:15px;">Bibles Online</a></li>
                  <li class="divider"></li>
                  <li><a href="http://www.calvarychapel.com" target="_blank" style="font-size:15px;">Calvary Chapel</a></li>
                  <li><a href="http://www.ibccmexico.com/tablet/index.html" target="_blank" style="font-size:15px;">Calvary Chapel Mexico Bible Institute</a></li>
                  
                </ul>
              </li>

              <li><a href="{{=URL('default','PeaceWithGod')}}" target="_blank" style="color:#FD3D36;font-size:18px"> Have Peace With God</a></li>
              <li><a href="#" data-toggle="modal" data-target="#ModalDonar">Donate</a></li>
            </ul>
            
            <ul style="padding-right:9%;" class="nav navbar-nav navbar-right">
              <li><a href="{{=URL('default','index', args=['nav'])}}"><img class="center-block"  src="{{=URL('static/images','es_.png')}}" alt="..."></a></li>
              <li><a href="{{=URL('default','index_en', args=['nav'])}}"><img class="center-block" src="{{=URL('static/images','en_.png')}}" alt="..."></a></li>
            </ul>
          </div>
  </div>
</div>

<div class="container-fluid" id="main">
  <div class="row-fluid">

    <div class="col-md-1 hidden-xs hidden-sm hidden-md" style="background-color:rgba(153,54,51,0.90);">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    <div class="col-md-1 hidden-xs hidden-sm hidden-md">
      <div class="col-md-6" style="background-color:#54647B;">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
    
    <div class="col-md-10" name="hola">
    
      <div class="row">
          <div class="col-lg-8">
            <h1>La Tiendita&nbsp;&nbsp;'the little shop'</h1>          
          </div>
          <div class="hidden-xs" style="padding-top:12px" class="col-lg-4" align="right">
            <h3><a data-toggle="modal" data-target="#ModalImgs" style="color:#ebebeb;cursor:pointer"><i class="fa fa-lg fa-picture-o"></i>&nbsp; Images</a></h3>
          </div>
      </div>
     
      <hr><br>

      <div class="row-fluid">
        <div class="well">
           "But seek first his kingdom and his righteousness, and all these things will be given to you as well." <strong>Matthew 6:33</strong> 
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p align="justify">“La tiendita” is a ministry that God has given as a vision, to encourage the youth and adults from <a href="{{=URL('default','CasaAbierta_en')}}" target="_blank">“CASA ABIERTA”</a> Community Center as they study the word of God. 
          <br><br>
          The way the ministry functions, is through giving points to the students for attendance, homeworks done, and class participation. We believe this will help and motivate them to be consistent on their classes; so as allowing the students to experience what the Bible says, for example in Matthew 6:33. This way we believe that as they seek God first, their hearts and lives will be transformed, resulting in a better lifestyle.

        </p>
        </div>
        <div class="col-lg-6" align="center">
          <img class="img-thumbnail img-responsive" src="{{=URL('static/images','tiendita.jpg')}}">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
          <p align="justify">
           Although it is not much what we can provide considering their needs, we surely know that they will understand that this is a clear blessing reflecting God´s love for them. Through gifts consisting of groceries and personal/house cleaning supplies, the students will be able to exchange them for the points they accumulate each month.
          </p>
        </div>

        <div class="col-lg-6">
          <p align="justify">We would like to invite you to be part of this ministry, giving whatever God places on your heart, in order that the new believers in Christ can experience God´s love through the members of the church.
          </p>
        </div>
    </div>
    <div class="text-danger" align="center">
           <strong>"they urgently pleaded with us for the privilege of sharing in this service to the Lord’s people." 2 Corinthians 8:4</strong> 
    </div><br>

  </div>

  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="ModalImgs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">La Tiendita Ministry</h4>
      </div>
      <div class="modal-body">
        
        {{=LOAD( url=URL(a='imgs_git', c='default', f='tiendita_en', user_signature=True), ajax=True, content= IMG(_src=URL(request.application,'static','images/301.GIF')) )}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>