{{extend 'layout_b.html'}}

<style type="text/css">
  .divl{
    position: absolute; top: 0px; left: 0;

  }
  .secondary_banner {
   width: 100%; height: 350px; text-align: center;
   background: rgba(246,246,246,1);
background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(80%, rgba(59,77,93,1)), color-stop(87%, rgba(43,62,80,1)));
background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(59,77,93,1) 80%, rgba(43,62,80,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#2b3e50', GradientType=0 );


   overflow: hidden; 
  }
  hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
</style>

<nav class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right " style="padding-right:90px;">
        <li class="page-scroll" >
            <a id="up" href="#page-top" style="color:#7B8491;">Ir Arriba</a>
        </li>
        
    </ul>
</nav>

<div class="divl secondary_banner">
<div style="top:10%;" class="navbar navbar-success navbar-default">
          <div style="padding-left:8%;" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><br>
            
            
            <a class="navbar-brand" href="{{=URL('default','index',args=['nav'])}}">Antioquía Calvary Chapel</a>
            <a class="hidden-xs hidden-sm hidden-md" style="padding-right:70%;"  href="{{=URL('default','index', args=['nav'])}}"><img src="{{=URL('static/images','dove_.png')}}" alt="..."></a>
          </div>
          <div align="left" style="padding-left:9%;" class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a style="font-size:15px" href="{{=URL('default','index',args=['nav'])}}"><i class="fa fa-home fa-2x"></i></a></li>
              <li><a href="{{=URL('default','QuienesSomos')}}">Quiénes Somos</a></li>
              <li><a href="{{=URL('default','DondeEstamos')}}">Dónde Estamos</a></li>
              <li><a href="{{=URL('default','Creemos')}}">En qué Creemos</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ministerios</a>
                <ul class="dropdown-menu">
                  <li><a href="{{=URL('default','CasaAbierta')}}" style="font-size:15px;">Centro Comunitario Casa Abierta</a></li>
                  <li><a href="{{=URL('default','tiendita')}}" style="font-size:15px;">La Tiendita</a></li>
                  <li><a href="{{=URL('default','EstudiosBiblicos')}}"style="font-size:15px;">Estudios Bíblicos en Casa</a></li>
                  <li><a href="{{=URL('default','web')}}"style="font-size:15px;" >Desarrollo Web</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recursos</a>
                <ul class="dropdown-menu">
                  <li><a href="{{=URL('default','noticias')}}" style="font-size:15px;">Noticias</a></li>
                  <li><a href="{{=URL('default','imagenes')}}" style="font-size:15px;">Imágenes</a></li>
                  <li class="divider"></li>
                  <li><a href="#" style="font-size:15px;" data-toggle="modal" data-target="#ModalIglesias">Iglesias en Sonora</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#ModalBiblias" style="font-size:15px;">Biblias en Linea</a></li>
                  <li class="divider"></li>
                  <li><a href="http://www.calvarychapel.com" target="_blank" style="font-size:15px;">Calvary Chapel</a></li>
                  <li><a href="http://www.ibccmexico.com/tablet/index.html" target="_blank" style="font-size:15px;">Insituto Bíblico Capilla Calvario México</a></li>
                  
                </ul>
              </li>

              <li><a style="color:#FD3D36;font-size:18px" href="{{=URL('default','PazConDios')}}" target="_blank"><strog>Ten Paz Con Dios</strong></a></li>
              <li><a href="#" data-toggle="modal" data-target="#ModalDonar">Donar</a></li>
            </ul>
            
            <ul style="padding-right:9%;" class="nav navbar-nav navbar-right">
              <li><a href="{{=URL('default','index',args=['nav'])}}"><img class="center-block"  src="{{=URL('static/images','es_.png')}}" alt="..."></a></li>
              <li><a href="{{=URL('default','index_en')}}"><img class="center-block"  src="{{=URL('static/images','en_.png')}}" alt="..."></a></li>
            </ul>
          </div>
        </div>
</div>

<div class="container-fluid" id="main">
  <div class="row-fluid">

    <div class="col-md-1 hidden-xs hidden-sm hidden-md" style="background-color:rgba(153,54,51,0.90);">
	    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	    </div>
    <div class="col-md-1 hidden-xs hidden-sm hidden-md">
	    <div class="col-md-6" style="background-color:#54647B;">
	    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	    </div>
    </div>
    
    <div class="col-md-10" name="hola">
    
      <div class="row">
          <div class="col-lg-6">
            <h1>La Tiendita</h1>          
          </div>
          <div class="hidden-xs" style="padding-top:12px" class="col-lg-6" align="right">
            <h3><a data-toggle="modal" data-target="#ModalImgs" style="color:#ebebeb;cursor:pointer"><i class="fa fa-lg fa-picture-o"></i>&nbsp; Imágenes</a></h3>
          </div>
      </div>
     
      <hr><br>

    	<div class="row-fluid">
    		<div class="well">
			     "Más bien,  busquen primeramente el reino de Dios y su justicia,  y todas estas cosas les serán añadidas." <strong>Mateo 6:33</strong> 
			  </div>
    	</div>
	    <div class="row">
		    <div class="col-lg-6">
		    	<p align="justify">“La tiendita” es un ministerio que Dios nos ha dado como visión, para animar en el estudio de la Palabra de Dios a los estudiantes jóvenes y adultos de la Escuela Bíblica del Centro Comunitario <a href="{{=URL('default','CasaAbierta')}}" target="_blank"> “CASA ABIERTA”</a> .<br><br>
          La operación del ministerio la tiendita se basa en otorgar puntos a los alumnos por asistencia, por tarea cumplida y por participación  en clase, con lo cual creemos que es un factor de motivación para su constancia en la escuela, aunado a esto llevar a los estudiantes a la práctica de la palabra de Dios, empezando por experimentar el versículo de Mateo 6:33. 

				</p>
		    </div>
		    <div class="col-lg-6" align="center">
		    	<img class="img-thumbnail img-responsive" src="{{=URL('static/images','tienda.jpg')}}">
		    </div>
		</div>
		<div class="row">
		    <div class="col-lg-6">
		    	<p align="justify">De esta manera creemos que ellos por sí mismo entenderán que al buscar a Dios, serán transformados sus corazones, sus vidas y proveerá para una vida mejor
          Aunque no es mucho lo que podemos satisfacer en cuanto a sus necesidades alimenticias, sabemos bien que ellos entenderán que esto es una bendición clara del amor de Dios por ellos.
          </p>
		    </div>

		    <div class="col-lg-6">
		    	<p align="justify">El sustento del ministerio “la tiendita” es que a través de ofrendas en especie de abarrotes y artículos de limpieza de casa y personales, se les cambie a los estudiantes por los puntos acumulados mensualmente.Te invito a ser parte de este ministerio aportando lo que Dios ponga en tu corazón, para que los nuevos creyentes en Cristo Jesús, experimenten el amor de Dios a través de los hermanos en la fe en Jesús.
          </p>
		    </div>
		</div>
    <div class="text-danger" align="center">
           <strong>"rogándonos con insistencia que les concediéramos el privilegio de tomar parte en esta ayuda para los santos" 2 Corintios 8:4</strong> 
    </div><br>
	</div>

  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="ModalImgs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Ministerio La Tiendita</h4>
      </div>
      <div class="modal-body">
        
        {{=LOAD( url=URL(a='imgs', c='default', f='tiendita', user_signature=True), ajax=True, content= IMG(_src=URL(request.application,'static','images/301.GIF')) )}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>