/* Overlay style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
a {
	font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
	color: #99cc33;
	text-decoration: none;
	outline: none;
}
@media screen and (max-width: 34em) {
	.overlay {
		font-size: 90%;
	}
	.overlay .overlay-close {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.overlay .overlay-close .lr {
    z-index: 1051;
    width: 2px;
    height: 75px;
    margin-left: 35px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.overlay .overlay-close .lr .rl {
    z-index: 1052;
    width: 2px;
    height: 75px;
    background-color: white;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	transition: all .3s ease-in-out;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #ebebeb;
	font-size: 60px; /*!!!*/
	text-decoration: none; /*!!!*/
	transition: all .3s ease-in-out; /**/
}

/* Effects */
.overlay-boxes {
	background: transparent;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.8s;
	transition: visibility 0s 0.8s;
}

.overlay-boxes.open {
	visibility: visible;
	-webkit-transition: none;
	transition: none;
}

.overlay-boxes svg {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
}

.overlay-boxes svg path {
	/*(153,54,51,0.92)  rojo anterior*/
	fill: rgba(7,24,71,0.92);
	display: none;
}

.overlay-boxes nav,
.overlay-boxes .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.5s 0.8s;
	transition: opacity 0.5s 0.8s;
}

.overlay-boxes.open nav,
.overlay-boxes.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

.overlay-boxes.close nav,
.overlay-boxes.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}